html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(218, 28%, 13%);
    color: white;
}

/* Nav bar styling */
nav{
    padding: 50px 35px 20px 0px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(217, 28%, 15%)
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-right:6px ;
}
.nav-links{
    text-decoration: none;
    color: white;
    margin-left: 54px;
}
.nav-links:hover{
    color: rgb(207, 159, 255);
}

 /* /* intro section styling   */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(217, 28%, 15%) url(images/bg-curvy-desktop.svg) bottom no-repeat;
}
.intro img{
    height: 507px;
    width: 686px;
    padding-top: 70px;
}
.intro h1{
    width: 700px;
    height: 75px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.intro p{
    text-align: center;
    font-size: 17px;
    line-height: 27px;
    height: 80px;
    width: 540px
}
.intro a{
    text-decoration: none;
    color: white;
    background-color: hsl(176, 68%, 64%);
    border-radius: 50px;
    width: 266px;
    height: 52px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* features section styling   */
.top{
    margin-top: 150px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly
    
}
.access{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.features .top .access p{
    width: 330px;
    line-height: 22px;
    margin-top: -10px;
}
.features .top .access svg{
    align-self: center;
}
.security{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.features .top .security p{
    width: 364px;
    line-height: 22px;
    margin-top: -10px;
}
.features .top .security svg{
    align-self: center;
}
.bottom{
    margin-top: 90px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly
}
.real-time{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.features .bottom .real-time p{
    width: 345px;
    line-height: 22px;
    margin-top: -10px;
}
.features .bottom .real-time svg{
    align-self: center;
}
.store{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.features .bottom .store p{
    width: 345px;
    line-height: 22px;
    margin-top: -10px;
}
.features .bottom .store svg{
    align-self: center;
}

 /* Stay productive section styling  */
.stay-productive{
    display: flex;
    justify-content: space-evenly;
    margin-top: 135px;
}
.stay-productive img{
    margin-left: 12px;
}
.sp-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sp-text h1{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 40px;
    width: 330px;
    margin-top: 125px;
}
.sp-text .text1{
    width: 450px;
    line-height: 22px;
}
.sp-text .text2{
    width: 500px;
    line-height: 22px;
}
.sp-text a{
    color: hsl(176, 68%, 64%);
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    line-height: 22px;
    width: 145px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none  
}
.sp-text a img{
    display: flex;
    margin: auto;
    margin-right: 0px;
    width: 12px;
    height: 12px;
}

 /* Testimonies section styling  */
.testimonies{
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly; 
}
.quote{
    width: 51px;
    height: 41px;
    position: relative;
    top: 113px;
    left: 46px;
}
.CEO{
    background-color: hsl(219, 30%, 18%);
    width: 343px;
    height: 175px;
    padding: 20px;
}
.CEO p{
    width: 280px;
    padding: 0px 0px 10px 36px;
    line-height: 20px;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 26px;
    width: 155px;
    padding-left: 32px;
    line-height: 5px;
}
.profile img{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    margin-bottom:10px ;
}
.profile-text h5{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    width: 90px;
    height: 10px;
}
.profile-text p{ 
    width: 115px;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
} 

 /* form section styling  */
.get-access{
    display: flex;
    justify-content: center;
    position: relative;
}
.form{
    width: 825px;
    height: 261px;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
    align-content: center;
    padding-bottom: 35px;
}
.form h2{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    width: 400px;
    font-size: 35px;
    margin-bottom: 10px;
}
.form p{
    width: 600px;
    line-height: 22px;
}
.form input{
    width: 462px;
    height: 48px;
    border-radius: 50px;
}
.email{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 678px;   
}
.email ::placeholder{
    padding-left: 40px;
}
.btn1{
    width: 190px;
    height: 48px;
    border-radius: 50px;
    background-color: hsl(198, 60%, 50%);
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Footer styling  */
footer{
    background-color: hsl(216, 53%, 9%);
    margin-top: -135px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 265px;
    padding-bottom: 80px;
}
footer img{
    position: relative;
    top: 250px;
    left: 84px;
}
.footer .lorem{
    width: 340px;
    height: 64px;
    display: flex;
    line-height: 24px;
}
.lorem svg{
    position: relative;
    top: 5px;
    right: 25px;
}
.contact{
    line-height: 35px;
    height: 55px;
}
.contact svg{
    position: relative;
    top: 5px;
    right: 25px;
}
.footer ul li{
    list-style-type: none;
    line-height: 35px;
}
.icons{
    width: 110px;
}
.icons i{
    padding-right: 20px;
}

 @media screen and (min-width:375px) and (max-width:768px) {
     body{
         font-size: 14px;
    }
    nav{
        padding: 20px;
        margin: 0px;
    }
    nav ul{
        padding: 0;
        margin-right: -15px;
    }
    .nav-links{
        margin:0;
        padding-right: 15px;
    }
    .nav-links img{
        width: 85px;
        height: 25px;
        margin-top: 10px;
    }
    .intro{
        background: hsl(217, 28%, 15%) url(images/bg-curvy-mobile.svg) bottom no-repeat
    }
    .intro img{
        width: 90%;
        height: auto;
        padding-top: 10px;
    }
    .intro h1{
        width: 90%;
        font-size: 26px;
    }
    .intro p{
        font-size: 15px;
        width: 90%;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .top{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .access{
        align-items: center;
        
    }
    .security{
        align-items: center;
        margin-top: 80px;
    }
    .bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .real-time{
        align-items: center;
        margin-top: 80px;
    }
    .store{
        align-items: center;
        margin-top: 80px;
    }
   .features .top .access p{
       width: 80%;
   }
   .features .top .security p{
       width: 80%;
   }
   .features .bottom .real-time p{
       width: 80%;
   }
   .features .bottom .store p{
       width: 80%;
   }
   .stay-productive{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .stay-productive img{
       width: 80%;
       height: auto;
       margin-bottom: 45px;
   }
   .sp-text{
       width: 80%;
   }
   .sp-text h1{
       width: 100%;
       font-size: 24px;
       margin: 0px;
   }
   .sp-text .text1{
    width: 100%;
   }
   .sp-text .text2{
    width: 100%;
    margin-top: 0px;
   }
   .testimonies{
       width: 100;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .founders .quote{
       width: 22px;
       height: 16px;
   }
   .CEO{
       width: 63%;
       margin-bottom: 26px;
   }
   .CEO p{
       width: 100%;
       padding: 0%;
   }
   .profile{
       padding: 0%;
   }
   .profile-text h5{
       width: 100%;
   }
   .form{
       height: 340px;
       width: 80%;
       margin-top: 200px;
       border-radius: 10px;
   }
   .form h2{
       width: 100%;
       padding: 0px;
       margin-top: 25px;
       font-size: 26px;
   }
   .form p{
       width: 85%;
       padding: 0%;
       margin-bottom: 25px;
   }
   .email{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0;
   }
   .email input{
       width: 35%;
       margin-bottom: 25px;
   }
   .btn1{
       width: 35%;
   }
   footer img{
       position: relative;
       left: 43px;
   }
   .footer{
       display: flex;
       flex-direction: column;
       margin: 0;
       width: 80%
   }
   .footer .lorem{
       width: 100%;
       width: 90%;
       position: relative;
       left: 76px;
       margin-bottom: 32px
   }
   .lorem svg {
    position: relative;
    top: 5px;
    right: 30px;
}
   .footer .contact{
    width: 90%;
    position: relative;
    left: 70px;
   }
   .icons{
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       top: 33px;
       left: 137px;
       font-size: 24px;
   }
 } 
 @media screen and (min-width:769px) and (max-width:1024px){
     .intro{
        background: hsl(217, 28%, 15%) url(images/bg-curvy-desktop.svg) bottom no-repeat
    }
    .stay-productive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stay-productive img{
        width: 80%;
        height: auto;
        margin-bottom: 45px;
    }
    .sp-text{
        width: 80%;
    }
    .sp-text h1{
        width: 100%;
        font-size: 24px;
        margin: 0px;
    }
    .sp-text .text1{
     width: 100%;
    }
    .sp-text .text2{
     width: 100%;
     margin-top: 0px;
    }
    .testimonies{
        width: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .founders .quote{
        width: 22px;
        height: 16px;
    }
    .CEO{
        width: 63%;
        margin-bottom: 40px;
        padding: 45px
    }
    .CEO p{
        width: 100%;
        padding: 0%;
    }
    .profile{
       margin-top: 55px;
    }
    .profile-text{
        padding: 0;
    }
    .profile-text h5{
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 80%
    }
    .footer .lorem{
        width: 100%;
        width: 90%;
        position: relative;
        left: 62px;
        margin-bottom: -10px;
    }
    .lorem svg {
        position: relative;
        top: 5px;
        right: 18px;
    }
    .footer .contact{
     width: 90%;
     position: relative;
     left: 70px;
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 33px;
        left: 430px;
        font-size: 24px;
    }
 }
    



